.center {
    text-align: center;
}

p#footer {
    color: #f2f3f9;

    position: absolute;
    left: 30%;
    width: 40%;
}

.nav {
    border: solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url("http://i.imgur.com/z6i3yB4.png");
}

.nav a {
    display: inline-block;
    padding: 10px;
}

.nav li {
    display: inline;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
    background-color: #000000;
}
